* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 50px;
  text-align: center;
  width: 100%;
}
.item-Name {
  display: flex;
  color: azure;
  background-color: blueviolet;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 1.5rem;
}
.item-Product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.product {
  align-self: center;
  padding: 5px;
}

.product img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
}
.main {
  background-color: grey;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pic img {
  width: 100%;
  padding-bottom: 30px;
}
