body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

nav {
  margin-bottom: 16px;
  background-color: orangered;
  padding: 8px 0;
}

a {
  text-decoration: none;
  color: white;
  margin: 10px;
}
a.active {
  color: purple;
}
/* without space we use the tag and class or id in the styling part */

a {
  color: aqua;
}

/* a tag which doesn't have the .active class. */

.main-section {
  height: 800px;
  border: 1px solid #ccc !important;
  padding: 16px;
}

.highlighted {
  border: 2px solid orange;
  height: 200px;
}

/* which one class is implemented at last, would be win. when we have two class for same element */
